.manager-image {
    background-image: url("../img/manager-1.webp");
    background-size: cover;
    display: block;
    height: 100px;
    width: 100px;
    z-index: -1;
    margin-left: 5%;
    margin-right: 5%;
}
.waiter-image {
    background-image: url("../img/waiter-1.png");
    background-size: cover;
    display: block;
    height: 100px;
    width: 100px;
    z-index: -1;
    margin-left: 5%;
    margin-right: 5%;
}