.error-message {
    z-index: 10;
    position: fixed;
    background: #d8d8d8;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    left: 0;
    margin-left: 570px;
    margin-right: 570px;
    right: 0;
    padding: 10px;
    height: 40%;
    top: 200px;
}

.close {
    width: 95%;
    height: 15%;
    border: 0ch;
    background-color: rgb(112, 90, 255);
    border-radius: 40px;
    padding: 5px;
    bottom: 10px;
    position: absolute;
    overflow: hidden;
}


.text {
    color: rgb(70, 70, 70);
    text-align: center;
}

.error-heading {
    text-align: center;
}

.close-text {
    font-size: 20px;
    font-style: bold;
    text-align: center;
    color: white;
}