.custom-form {
    padding:20px;
}

.custom-submit-button {
    margin:20px;
}

.login-box {
    align-self: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    right: 0;
    position: fixed;
    margin-left: 37%;
    margin-right: 37%;
    right: 0;
    z-index: 2;
    /* padding: 10px; */
    height: 45%;
    width: 24%;
    top: 200px;
}

.background-image {
    background-image: url("../img/cafe-1.jpg");
    background-size: cover;
    display: block;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 800px;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.login-page {
    display: block;
    align-content: center;
    justify-content: center;
}

.description {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    color: black;
}

.login-error {
    color: red;
    font-size: 15px;
    font-style: italic;

}

.custom-button-login {
    width: 40%;
    height: 12%;
    border: 0ch;
    background-color: rgb(112, 90, 255);
    border-radius: 40px;
    padding: 5px;
    color: white;
    bottom: 10px;
    position: absolute;
    font-size: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

.custom-username-input {
    border-radius: 40px;
}

.username-div {
    display: flex;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.password-div {
    display: flex;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.icon {
    float: left;
    height: 40px;
    width: 5px;
    background-color: rgba(0,0,0,0);
    border: 0ch;
    padding-top: 30px;
}