.role {
    color: black;
}

.full-name {
    color: black;
}

.username {
    color: black;
}

.manager-image {
    background-image: url("../img/manager-1.webp");
    background-size: cover;
    display: block;
    height: 80px;
    width: 80px;
    z-index: -1;
    margin-left: 5%;
    margin-right: 5%;
}

.waiter-image {
    background-image: url("../img/waiter-1.png");
    background-size: cover;
    display: block;
    height: 80px;
    width: 80px;
    z-index: -1;
    margin-left: 5%;
    margin-right: 5%;
}
.user-image {
    background-image: url("../img/user-1.png");
    background-size: cover;
    display: block;
    height: 80px;
    width: 80px;
    z-index: -1;
    margin-left: 33%;
}

.product-image {
    background-image: url("../img/product-1.png");
    background-size: cover;
    display: block;
    height: 80px;
    width: 80px;
    z-index: -1;
    margin-left: 33%;
    background-repeat: no-repeat;
}

.table-image {
    background-image: url("../img/table-1.jpg");
    background-size: cover;
    display: block;
    height: 80px;
    width: 80px;
    z-index: -1;
    margin-left: 33%;
}

.profile {
    margin-left: 5%;
    margin-right: 5%;
}



.main {
    position: relative;
    display: inline-block;
    margin-left: 15%;
    top: 15px;
    align-content: center;
    justify-content: center;
}



