.custom-button-register {
    width: 40%;
    height: 10%;
    border: 0ch;
    background-color: rgb(112, 90, 255);
    border-radius: 40px;
    padding: 5px;
    color: white;
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

.table-add-form {
    background: #ffffff59;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2;
    padding: 10px;
    height: 50%;
    top: 90px;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

.number-div {
    display: flex;
}

.code-div {
    display: flex;
}
.icon-table-form {
    float: left;
    background-color: rgba(0,0,0,0);
    border: 0ch;
    padding-top: 50px;
    margin-right: 10px;
}
