.order-box {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 240x;
    background-color: rgba(255, 255, 255, 0.35);
}

.form-data {
    overflow: hidden;
}

.input-data {

}

.input-data:active {
    border: blue;
}
.add-product-in-order {
    display: flex;
    background-color: lightgreen;
    padding: 5px;
    text-decoration: none;
    color: black;
    margin: 5px;
}

.add-product-in-order:hover {
    color: white;
    background-color: green;
}

.update-order {
    display: flex;
    color: black;
    background-color: lightblue;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}

.update-order:hover {
    color: white;
    background-color: blue;
}

.products-in-order-view {
    color: black;
    text-decoration: none;
    display: flex;
    padding: 5px;
    margin: 5px;
    background-color: rgb(247, 255, 129);
}

.products-in-order-view:hover {
    color: black;
    background-color: rgb(165, 175, 25);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
  
td, th {
    text-align: left;
    padding: 8px;
}

th {
    background-color: rgb(59, 59, 59);
    color: white;
}
tr:nth-child(even) {
    background-color: rgb(235, 235, 235);
}

tr:nth-child(odd) {
    background-color: white;
}

tr:hover {
    background-color: #dddddd;
}

.main-div {
    background-image: linear-gradient(to bottom right,rgb(255, 158, 145), rgb(28, 15, 205));
    height: calc(100vh - 67px);
    width: 100%;
    padding: 50px;
    bottom: 0;
    top: 0;
}
