.order-box {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 240x;
    background-color: rgba(255, 255, 255, 0.35);
}


.add-product-in-order {
    display: inline;
    background-color: lightgreen;
    padding: 10px;
    text-decoration: none;
    color: black;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.add-product-in-order:hover {
    color: white;
    background-color: green;
}

.update-order {
    display: inline;
    color: black;
    background-color: lightblue;
    text-decoration: none;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.update-order:hover {
    color: white;
    background-color: blue;
}

.products-in-order-view {
    color: black;
    text-decoration: none;
    display: inline;
    padding: 10px;
    background-color: rgb(247, 255, 129);
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.products-in-order-view:hover {
    color: black;
    background-color: rgb(165, 175, 25);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
  
td, th {
    text-align: left;
    padding: 8px;
}

th {
    background-color: rgb(59, 59, 59);
    color: white;
}
tr:nth-child(even) {
    background-color: rgb(235, 235, 235);
}

tr:nth-child(odd) {
    background-color: white;
}

tr:hover {
    background-color: #dddddd;
}

.main-div {
    background-image: linear-gradient(to bottom right,rgb(255, 158, 145), rgb(28, 15, 205));
    height: calc(100vh - 67px);
    width: 100%;
    padding: 50px;
    bottom: 0;
    top: 0;
}

.update-box {
    z-index: 10;
    position: fixed;
    background: rgb(216, 216, 216);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    left: 0;
    margin-left: 570px;
    margin-right: 570px;
    right: 0;
    padding: 10px;
    height: 40%;
    top: 200px;
}

.status-label {
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.update-confirm {
    width: 95%;
    height: 15%;
    border: 0ch;
    background-color: rgb(112, 90, 255);
    border-radius: 40px;
    padding: 5px;
    bottom: 10px;
    position: absolute;
    overflow: hidden;
    color: white;
}

.close-button {
    border: 0ch;
    margin-left: 90%;
}

.add-filter-button {
    height: 40px;
    width: 110px;
    background-color: rgb(59, 59, 59);
    color: white;
    font-style: bold;
    font-size: 17px;
    border: 0ch;
}

.view-orders-div {
    overflow-y: auto;
    width: 100%;
}