.order-box {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 240x;
}

.add-product-in-order {
    display: flex;
    background-color: lightgreen;
    padding: 5px;
    text-decoration: none;
    color: white;
    margin: 5px;
}

.add-product-in-order:hover {
    color: white;
    background-color: green;
}

.update-order {
    display: flex;
    color: white;
    background-color: lightblue;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}

.update-order:hover {
    color: white;
    background-color: blue;
}

.products-in-order-view {
    color: black;
    text-decoration: none;
    display: flex;
    padding: 5px;
    margin: 5px;
    background-color: rgb(247, 255, 129);
}

.products-in-order-view:hover {
    color: black;
    background-color: rgb(165, 175, 25);
}