.add-order-button {
    padding: 10px;
    background-color: lightgreen;
    color: white;
    border: 0ch;
    text-decoration: none;
    display: inline-block;
    width: 80px;
    height: 40px;
    margin: 5px;
}

.add-order-button:hover {
    color: white;
    background-color: green;
}

.table-box {
    background-color: rgba(255, 255, 255, 0.35)
}