.user-box {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.35);
}

.user-username {
    font-size: 50px;
}

.user-full-name {
    font-size: 20px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 18px;
}

th {
    background-color: rgb(59, 59, 59);
    color: white;
}
tr:nth-child(even) {
    background-color: rgb(235, 235, 235);
}

tr:nth-child(odd) {
    background-color: white;
}

tr:hover {
    background-color: #dddddd;
}

.main-div {
    background-image: linear-gradient(to bottom right,rgb(255, 158, 145), rgb(28, 15, 205));
    height: calc(100vh - 56px);
    width: 100%;
    padding: 50px;
    bottom: 0;
    top: 0;
}

.manager-image {
    background-image: url("../img/manager-1.webp");
    background-size: cover;
    display: block;
    height: 50px;
    width: 50px;
    z-index: -1;
    margin-left: 5%;
    margin-right: 5%;
}
.waiter-image {
    background-image: url("../img/waiter-1.png");
    background-size: cover;
    display: block;
    height: 50px;
    width: 50px;
    z-index: -1;
    margin-left: 5%;
    margin-right: 5%;
}