.name {
    font-size: 50px;
}

.product-box {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.delete-button {
    background-color: red;
    padding: 10px;
    color: white;
    border: 0ch;
    text-decoration: none;
}

.delete-button:hover {
    background-color: darkred;
    color: white;
}

.update-button {
    background-color: lightblue;
    color:white;
    border: 0ch;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.update-button:hover {
    background-color: blue;
    color: white;
}